In [2]:
from sqlalchemy import create_engine

In [3]:
import pandas as pd

In [7]:
ipdr_df=pd.read_csv('../data/Simulated_CDR_IPDR_Logs.csv')
ipdr_df.head()

,subscriber_id,telecom,timestamp,duration_sec,type,ip,port,destination,fraud_label
0,SUB_001,MTNL,2025-04-01 10:12:00,1104,SMS,192.168.237.87,8080,fakebank.in,Benign
1,SUB_001,MTNL,2025-04-01 05:27:00,469,SMS,192.168.218.197,8080,signal.org,Benign
2,SUB_001,MTNL,2025-04-01 19:59:00,658,Voice,192.168.231.144,443,telegram.org,Psychological
3,SUB_001,MTNL,2025-04-01 15:14:00,670,Data,192.168.30.54,443,google.com,Benign
4,SUB_001,MTNL,2025-04-01 16:31:00,312,Data,192.168.166.51,80,telegram.org,Benign

In [10]:
ipdr_df.groupby('fraud_label').size().reset_index(name='count')

     fraud_label  count
0         Benign    240
1      Financial     15
2       Identity      9
3     Investment     11
4  Psychological     18

In [9]:
ipdr_df.groupby('type').size().reset_index(name='count')

    type  count
0   Data    104
1    SMS     94
2  Voice     95

In [19]:
ipdr_df.groupby('telecom').size().reset_index(name='count')

  telecom  count
0  Airtel     48
1    BSNL     71
2     Jio     71
3    MTNL     55
4      Vi     48

In [12]:
ipdr_df.describe()

       duration_sec         port
count    293.000000   293.000000
mean     619.375427  3415.870307
std      329.019396  3392.234136
min       31.000000    80.000000
25%      319.000000    80.000000
50%      657.000000   443.000000
75%      893.000000  8080.000000
max     1197.000000  8080.000000

In [50]:
df=ipdr_df[ipdr_df['fraud_label'] != 'Benign']
df=df.sort_values('duration_sec', ascending=False).reset_index()
df

,index,subscriber_id,telecom,timestamp,duration_sec,type,ip,port,destination,fraud_label
0,154,SUB_006,Jio,2025-04-02 03:12:00,1192,Voice,192.168.3.182,80,whatsapp.net,Investment
1,180,SUB_010,MTNL,2025-04-02 23:50:00,1179,SMS,192.168.138.18,80,google.com,Financial
2,232,SUB_005,Jio,2025-04-03 19:11:00,1111,Voice,192.168.174.93,5222,signal.org,Identity
3,146,SUB_005,BSNL,2025-04-02 07:53:00,1075,Data,192.168.252.119,80,whatsapp.net,Psychological
4,97,SUB_010,Vi,2025-04-01 01:42:00,1059,SMS,192.168.79.179,443,telegram.org,Psychological
5,56,SUB_006,BSNL,2025-04-01 00:07:00,1050,Voice,192.168.24.209,5222,signal.org,Financial
6,182,SUB_010,MTNL,2025-04-02 08:24:00,1004,Voice,192.168.102.34,8080,google.com,Psychological
7,128,SUB_003,BSNL,2025-04-02 05:31:00,1003,Data,192.168.93.225,80,telegram.org,Psychological
8,213,SUB_003,MTNL,2025-04-03 06:17:00,993,Data,192.168.235.111,5222,signal.org,Investment
9,274,SUB_009,BSNL,2025-04-03 08:04:00,959,Data,192.168.168.133,8080,google.com,Identity
10,214,SUB_003,MTNL,2025-04-03 03:59:00,904,Data,192.168.88.185,80,fakebank.in,Psychological
11,242,SUB_006,BSNL,2025-04-03 04:07:00,898,Voice,192.168.244.78,80,whatsapp.net,Psychological
12,92,SUB_010,Vi,2025-04-01 08:22:00,893,Voice,192.168.244.221,8080,telegram.org,Investment
13,10,SUB_001,MTNL,2025-04-01 11:50:00,874,SMS,192.168.58.224,8080,fakebank.in,Identity
14,76,SUB_008,Airtel,2025-04-01 03:53:00,871,SMS,192.168.228.84,8080,google.com,Financial
15,276,SUB_009,BSNL,2025-04-03 20:13:00,848,Voice,192.168.187.114,8080,google.com,Investment
16,135,SUB_003,BSNL,2025-04-02 18:55:00,828,Voice,192.168.16.155,80,signal.org,Financial
17,109,SUB_001,MTNL,2025-04-02 12:34:00,825,SMS,192.168.128.47,8080,google.com,Psychological
18,209,SUB_002,Jio,2025-04-03 04:49:00,818,SMS,192.168.1.136,8080,whatsapp.net,Investment
19,47,SUB_005,BSNL,2025-04-01 23:50:00,794,Voice,192.168.28.112,80,google.com,Investment
20,105,SUB_001,MTNL,2025-04-02 05:48:00,724,Data,192.168.214.177,80,google.com,Identity
21,9,SUB_001,MTNL,2025-04-01 12:25:00,712,SMS,192.168.60.144,8080,google.com,Psychological
22,278,SUB_009,BSNL,2025-04-03 21:35:00,711,SMS,192.168.242.209,80,google.com,Financial
23,172,SUB_008,MTNL,2025-04-02 21:59:00,684,Data,192.168.236.147,5222,signal.org,Financial
24,88,SUB_009,Jio,2025-04-01 04:12:00,664,Voice,192.168.77.99,5222,signal.org,Identity
25,2,SUB_001,MTNL,2025-04-01 19:59:00,658,Voice,192.168.231.144,443,telegram.org,Psychological
26,69,SUB_007,Vi,2025-04-01 00:39:00,619,Voice,192.168.36.141,8080,signal.org,Psychological
27,263,SUB_008,Airtel,2025-04-03 15:31:00,593,Data,192.168.169.53,80,google.com,Psychological
28,186,SUB_010,MTNL,2025-04-02 08:47:00,585,Voice,192.168.126.97,443,telegram.org,Psychological
29,205,SUB_002,Jio,2025-04-03 13:44:00,540,Voice,192.168.55.30,5222,telegram.org,Psychological
30,265,SUB_008,Airtel,2025-04-03 15:14:00,513,Data,192.168.245.58,5222,signal.org,Financial
31,15,SUB_002,Jio,2025-04-01 07:34:00,503,Voice,192.168.175.129,443,signal.org,Investment
32,74,SUB_008,Airtel,2025-04-01 08:32:00,461,SMS,192.168.230.166,5222,whatsapp.net,Financial
33,282,SUB_010,Jio,2025-04-03 02:03:00,435,Data,192.168.149.15,443,google.com,Identity
34,41,SUB_004,Airtel,2025-04-01 08:49:00,432,Data,192.168.122.30,443,google.com,Financial
35,235,SUB_005,Jio,2025-04-03 13:11:00,426,SMS,192.168.213.79,443,google.com,Financial
36,173,SUB_008,MTNL,2025-04-02 12:06:00,389,Voice,192.168.36.16,80,signal.org,Investment
37,34,SUB_004,Airtel,2025-04-01 03:29:00,349,SMS,192.168.4.189,80,telegram.org,Financial
38,123,SUB_002,Vi,2025-04-02 11:06:00,314,Voice,192.168.175.41,8080,telegram.org,Identity
39,16,SUB_002,Jio,2025-04-01 13:44:00,276,Data,192.168.192.33,5222,whatsapp.net,Psychological
40,176,SUB_009,MTNL,2025-04-02 07:57:00,248,SMS,192.168.206.127,80,telegram.org,Psychological
41,288,SUB_010,Jio,2025-04-03 09:12:00,248,SMS,192.168.191.194,80,signal.org,Financial
42,113,SUB_002,Vi,2025-04-02 10:35:00,218,Data,192.168.9.231,8080,google.com,Financial
43,116,SUB_002,Vi,2025-04-02 17:16:00,209,Voice,192.168.3.63,8080,signal.org,Psychological
44,127,SUB_003,BSNL,2025-04-02 07:58:00,202,SMS,192.168.83.111,5222,telegram.org,Investment
45,100,SUB_001,MTNL,2025-04-02 23:31:00,174,Data,192.168.55.238,443,signal.org,Investment
46,25,SUB_002,Jio,2025-04-01 00:42:00,122,SMS,192.168.213.198,8080,telegram.org,Investment
47,227,SUB_004,BSNL,2025-04-03 21:04:00,112,SMS,192.168.157.194,80,google.com,Identity
48,119,SUB_002,Vi,2025-04-02 10:36:00,99,SMS,192.168.14.2,5222,telegram.org,Psychological
49,212,SUB_003,MTNL,2025-04-03 20:57:00,91,SMS,192.168.68.202,443,whatsapp.net,Identity
50,167,SUB_008,MTNL,2025-04-02 18:06:00,56,SMS,192.168.150.67,8080,telegram.org,Financial
51,37,SUB_004,Airtel,2025-04-01 01:48:00,52,SMS,192.168.175.96,80,signal.org,Financial
52,67,SUB_007,Vi,2025-04-01 00:33:00,31,Data,192.168.15.6,8080,fakebank.in,Psychological

In [51]:
ipdr_df.groupby('subscriber_id').size().reset_index(name='count')

  subscriber_id  count
0       SUB_001     35
1       SUB_002     38
2       SUB_003     30
3       SUB_004     29
4       SUB_005     28
5       SUB_006     24
6       SUB_007     24
7       SUB_008     28
8       SUB_009     27
9       SUB_010     30